@import url("./fonts.css");

$green: #179736;
$lightgray: #f2f2f2;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body{
  background: #fff;
}

h1 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
h5 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
.green {
  color: $green;
}

.button {
  color: $green;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  min-height: 36px;
  line-height: 1.75;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 1px solid transparent;
  cursor: pointer;
  background: none;

  &:hover {
    border: 1px solid $green;
  }

  &-text {
    border: 1px solid $green;

    &:hover {
      border-width: 2px;
    }
  }
}

.icon-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  & > svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    color: $green;
  }
}

nav {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;

  & .nav-items-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;

    & a {
      display: flex;
      align-items: center;
      font-weight: 400;
      text-transform: uppercase;

      &.active > p {
        color: $green;
        font-weight: 600;
      }

      & p::after {
        display: block;
        content: "";
        border-bottom: 2px solid $green;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:hover p::after {
        transform: scaleX(1);
      }
    }
  }
}

.hamburger-container {
  display: flex;

  & > .burger-button {
    z-index: 900;
    border: none;
    background: none;
    color: #000;
  }
}

.hamburger-icon {
  color: $green;
  transition: all 250ms ease-in-out;
  z-index: 99;
}

.menu-container {
  width: 103vw;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  user-select: none;
  padding: 1em 2.5em;

  &-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 55px;

    & > .burger-item {
      & a {
        display: block;
        width: 100%;
        padding: 20px 0;
        text-align: center;
  
      }
      &:not(:last-child) {
        border-bottom: 1px solid #e2e2e2;
      }
    }
  }
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  background: #fff;
}

.home-wrapper {
  display: flex;

  & > img {
    margin-top: -112px;
    z-index: 9;
  }

  & > .text-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    & div {
      height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      & p{
        margin: 10vh 0 5vh;
        text-align: center;
      }
    }
  }
  & h1 {
    text-transform: uppercase;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 20px;
}

.product-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border: 1px solid $green;
  }
  & img {
    max-width: 300px;
    max-height: 300px;
  }
}
.contact-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    & div {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
